#logo
{
 background-color:#4ABCAD;
}
.coname
{
	color:#F5FCFD;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;

}
#register
{
	margin-left: 800px;
}


#carousel
{
	margin-bottom:  1850px;
}
.row
{
	background-color: #4ABCAD;
	width: 100%;
}
