{% extends 'Loginapp/dashboard.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
      <h1 class="display-7">
        <a href="#"> NIT Raipur </a>
      </h1>
    </div>
    <div class="row">
      <h2 class="display-8">
        In time of girls?
      </h2>
    </div>
    <div class="row">
      <h2 class="display-8">
        <div class="btn-group">
        <kbd>Your Problem is in process of being resolved</kbd>
        </div>
      </h2>
    </div>
  <hr>
  <br>
{% endblock %}
