{% extends 'Loginapp/dashboard.html' %}
{% load staticfiles %}
{% block content %}
	{% for d in display %}
	{% if college == d.college %}
		<div class="container-fluid">
				<div class="row">
					<h1 class="display-7">
						<a href="#"> {{ d.college }} </a>
					</h1>
				</div>
				<div class="row">
					<h2 class="display-8">
						{{ d.prob_stat }}
					</h2>
				</div>
				<div class="row">
					<h2 class="display-8">
						<div class="btn-group">
						<a href="#" id="upvote" class="btn btn-success">Upvote | {{d.id}}</a>
						</div>
					</h2>
				</div>
			<hr>
			<br>
			<script
				  src="https://code.jquery.com/jquery-3.3.1.js"
				  crossorigin="anonymous"></script>
			<script src="{% static 'Issues/customjs.js' %}" charset="utf-8"></script>
		<link rel="stylesheet" href="{% static 'Loginapp/customstyle.css' %}">
		</div>
		{% endif %}
 	{% endfor %}
{% endblock %}
