{% extends 'Loginapp/dashboard.html' %}
{% block content %}
<div class="text-center p-5">
  {% for p in profile %}
    {% if p.user == usern %}
      <img class="rounded-circle" height="200px" width="200px" src='{{ p.profile_pic.url }}' alt="Profile Pic">
      <br><br>
      <h2 class="diplay-7">Welcome!</h1>
      <h1 class="display-5">
        <i>{{p.first_name}} {{p.last_name}}</i>.<br><br>
      </h1>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
          </div>
      <div class="col-md-6">
      <table class="table">
          <tr >
          <td class="pad-max"> Mobile No   </td>
          <td> {{p.mob_no}} </td>
          </tr>
          <td> College </td>
          <td> {{p.college}} </td>
          <tr>

          </tr>
      </table>
    </div>
      <div class="col-md-3">
      </div>
    </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
