{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>CollegeMitra: A Perfect Companion</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
	<nav class="navbar bg-dark">
				<a class="btn btn-info" href="{% url 'index' %}">CollegeSolver</a>
				{% if user.is_authenticated %}
					<a class="btn btn-info" href="{% url 'Loginapp:account' %}">Goto Dashboard</a>
				{% else %}
				<div class="btn-group">
					<a class="btn btn-info" href="{% url 'Loginapp:register' %}">Register</a>
					<a class="btn btn-success" href="{% url 'Loginapp:user_login' %}">Login</a>
				</div>
				{% endif %}
		</nav>
	{% block body_block %}

	{% endblock %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
