{% extends "Loginapp/base.html" %}
{% block body_block %}

<div class="jumbotron">
  <h1 class="display-3">CollegeSolver</h1>
  <p class="lead">Lorem Ipsum</p>
</div>

<div class="container-fluid">
  <div class="row mar">
    <div class="col-md-4 bg-grey">
        <a href="#" class="btn btn-success">+Add</a>
        <br>
        <a href="#">User details</a><br>
        <a href="#">Problems</a>
        <br>
        <a href="#" class="btn btn-danger">Logout</a>
    </div>
    <div class="col-md-8">
      Content
    </div>
  </div>
</div>

<nav class="navbar bg-dark footer fixed-bottom">
  Copyright BadRushDeep &copy; Pvt. Ltd.
</nav>

{% endblock %}
