{% extends "Loginapp/base.html" %}
{% block body_block %}

<div class="jumbotron">
  <h1 class="display-3">CollegeSolver</h1>
  <p class="lead">Site Quotes</p>
</div>

<div class="container-fluid">
  <div class="row mar">
    <div class="col-md-2 bg-grey text-center p-5">
        <a  class="btn btn-success form-control" href="#" class="btn btn-success">+Add</a>
        <br><br>
        <a  class="btn btn-info form-control" href="{% url 'special' %}">Dashboard</a><br>
        <br>
        <a  class="btn btn-info form-control" href="{% url 'Loginapp:account' %}">User details</a><br>
        <br>
        <a class="btn btn-drop form-control" data-toggle="collapse" data-target="#toggleprob">Problems</a>

        <div id="toggleprob" class="collapse">
          <a href="#" class="btn btn-info form-control">Ongoing</a><br>
          <a href="#"  class="btn btn-info form-control">Active</a><br>
          <a href="#"  class="btn btn-info form-control">Solved</a>
        </div>
        <br><br>
        <a href="{% url 'logout' %}" class="btn btn-danger form-control">Logout</a>
    </div>
    <div class="col-md-10 bg-white">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

<nav class="navbar bg-dark footer fixed-bottom">
  Copyright BadRushDeep &copy; Pvt. Ltd.
</nav>

{% endblock %}
