{% extends 'Loginapp/base.html' %}
{% load staticfiles %}


{% block body_block %}

<div class="jumbotron">
	{% if registered %}

	<h1>Thank you for registering!</h1>



	{% else %}

		<h1 class="text-center display-4">Register here!</h1>
		<h3 class="text-center display-6">Fill out the Form:</h3>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
		<form enctype="multipart/form-data" method="POST">
						{% csrf_token %}



			<div class="form-group">
					{{ user_form.username.errors }}
			  	{{ user_form.username}}
			</div>
			<div class="form-group">
					{{ user_form.email.errors }}
					{{ user_form.email}}
			</div>
			<div class="form-group">
					{{ user_form.password.errors }}
					{{ user_form.password}}
			</div>
			<!--Second Form-->
			<div class="form-group">
				{{ profile_form.first_name.errors }}
			{{ profile_form.first_name}}
			</div>
			<div class="form-group">
				{{ profile_form.last_name.errors }}
				{{ profile_form.last_name}}
			</div>
			<div class="form-group">
				{{ profile_form.password.errors }}
				{{ profile_form.password}}
			</div>
			<div class="form-group form-inline">
				{{ profile_form.dob.errors }}
				{{ profile_form.dob}}
			</div>
			Profile Picture:
			<br>
			<div class="form-group">
				{{ profile_form.profile_pic.errors }}
				{{ profile_form.profile_pic}}
			</div>
			College ID:
			<div class="form-group">
				{{ profile_form.doc_image.errors }}
				{{ profile_form.doc_image}}
			</div>
			<div class="form-group">
				{{ profile_form.mob_no.errors }}
				{{ profile_form.mob_no}}
			</div>
			<div class="form-group">
				{{ profile_form.college.errors }}
				{{ profile_form.college}}
			</div>
			<input type="submit" class="btn btn-success form-control" value="Register">
			{% csrf_token %}
		</form>
	</div>
</div>
		{% endif %}

		{% endblock %}
